body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

nav {
  display: flex;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  height: 60px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

nav .s {
  color: black;
  font-size: 25px;
}

.logo {
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 100px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages {
  display: flex;
  position: relative;
  left: 30%;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.pages li {
  list-style: none;
}

nav a:hover {
  text-decoration: underline;
}

footer {
  border: 2px solid black;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.showslist {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-content: center;
  justify-content: space-evenly;
  padding: 20px;
  margin: 10px;
}

.shows {
  background: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: 3px 3px 5px;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.show-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9rem;
  margin: 5%;
}

.show-name span {
  font-weight: bold;
}

.comments {
  display: flex;
  color: red;
  font-weight: 600;
  margin-top: 3%;
  font-size: 1.2rem;
}

#comments-section {
  padding-left: 0;
}

.btn {
  background: none;
  border: 1px solid black;
  box-shadow: 4px 7px 5px;
  margin: 5px;
  font-family: fantasy;
}

.comment {
  display: flex;
  justify-content: center;
}

/* .pop-body {
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255);
  width: 90%;
  margin: 4% auto;
  border-radius: 10px;
} */

.window-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  height: 70%;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgb(0 0 0 / 10%);
  padding: 16px;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}

.pop-head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.modal-head {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cancel {
  font-size: 2.5rem;
  font-weight: 500;
  border: none;
  display: flex;
  align-items: center;
  color: #67798e;
  background: transparent;
}

.modal-image {
  display: flex;
  justify-content: center;
}

.summary {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#sumTxt {
  width: 100%;
  margin: 5px;
  font-weight: 600;
  color: red;
  text-align: left;
  font-size: 1.5rem;
}

.con-com {
  padding: 5px;
}

label,
textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

.atc {
  display: flex;
  justify-content: center;
  color: red;
  text-decoration: underline;
}

.titles {
  color: #e00;
  font-weight: 700;
}

#hideframe {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.submit-btn {
  width: 35%;
  align-self: center;
  background: rgb(98, 87, 247);
  border: 0;
  border-radius: 5px;
  color: white;
  height: 3rem;
}

.name {
  display: flex;
}

.comment-li {
  list-style: none;
  margin: 2% 0;
}

.no_comment_li {
  list-style: none;
}

.yt-link {
  background: #dc0808;
  color: white;
  padding: 1%;
  font-size: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
  text-decoration: none;
  gap: 4px;
}

input {
  border: 0.5px solid rgb(224, 224, 224);
  height: 1.5rem;
  outline: 0;
  border-radius: 5px;
  margin: 2px;
  padding: 2%;
  width: 80%;
}

@media only screen and (max-width: 600px) {
  nav {
    display: none;
  }

  .window-popup {
    width: 50% I !important;
    height: 90% !important;
  }

  .showslist {
    grid-template-columns: 1fr;
    padding: 0;
    margin: 5%;
  }

  .shows {
    height: 70vh;
  }

  .pop-up {
    margin: 2%;
  }

  .pop-head {
    margin: 4% 0;
  }

  #sumTxt {
    font-size: 1.2rem;
    margin: 4%;
  }

  input {
    height: 3rem;
  }

  .submit-btn {
    width: 50%;
  }
}
